<main class="flex" id="projects">
  <section class="flex left-section">
    <button [ngClass]="{'active': all}" (click)="toggleActiveButton('all')">all projects</button>
    <button [ngClass]="{'active': js}" (click)="toggleActiveButton('js')">javaScript</button>
    <button [ngClass]="{'active': an}" (click)="toggleActiveButton('an')">angular</button>
    <button [ngClass]="{'active': re}" (click)="toggleActiveButton('re')">react</button>
  </section>
  <section class="flex right-section">
    <article class="card" *ngFor="let project of allProjects">
      <img src="{{project.imgPath}}" alt="" (click)="openProject(project)" />
      <div class="box">
        <h1 class="title" [ngClass]="classesTitle" (click)="openProject(project)">
          {{project.projectTitle}}
        </h1>
        <p class="sub-title" [ngClass]="classesSubtitle" (click)="openProject(project)">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ratione deserunt.
          Voluptatem architecto eligendi consectetur, assumenda accusamus dolor animi, repellendus
        </p>
        <div class="flex icons">
          <mat-icon svgIcon="github" class="icon icon-github" [ngClass]="classesIcons"
            (click)="openProjectSource(project)"></mat-icon>
          <a class="link flex" [ngClass]="classesBlue" (click)="openProject(project)">more &gt;</a>
        </div>
      </div>
    </article>
  </section>
</main>